### IntelliJ ###
out/
*/out/
**/out/

### Mac OS ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### PyCharm ###
.idea
._.idea
**/.idea
**/._.idea
.idea/vcs.xml

### CLion ###
cmake-build-debug/
/cmake-build-debug/
*/cmake-build-debug
*/cmake-build-debug/
CMakeLists.txt

### Prerequisites ###
*.d
/.git/
/.vs/
*.iml

### Compiled Object files ###
*.slo
*.lo
*.o
*.obj

### Precompiled Headers ###
*.gch
*.pch

### Compiled Dynamic libraries ###
*.so
*.dylib
*.dll

### Fortran module files ###
*.mod
*.smod

### Compiled Static libraries ###
*.lai
*.la
*.a
*.lib

### Executables ###
*.exe
*.out
*.app